@charset "utf-8";
/* CSS Document */
.real .thumb img {
width:230px;
height:154px;
}
.real .thumb {
width:230px;
height:200px;
margin-right:38px;
}
.real .thumbs {
padding:36px 0 0 38px;
width:807px;
}
.real a.thumbLink {
width:230px;
padding:5px 0;
}
.real p.wide {
float:left;
width: 589px;
margin:0 0 3em 35px;
}