html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
body { line-height: 1.5; margin: 0; }
table { border-collapse: collapse; border-spacing: 0; }
caption, th, td { text-align: left; font-weight:400; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
a img { border: none; }
input,textarea { margin: 0; }

/* Removes Firefox imposed outline */
a { outline: none; border:none;}

/* Clearing floats without extra markup  */
.wrapper { display: inline-block; }
.wrapper:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html .wrapper { height: 1%; }
.wrapper { display: block; }

/* HOME
-------------------------------------------------------------- */
#homeTop {
width:919px;
}
.home #testi {
z-index:10;
}
#imgcycle #two, #imgcycle #three, #imgcycle #four {
display:none;
}
.home #text {
/*margin-top:360px;*/
width:593px;
border-left:none;
border-right:1px dotted #BDBEB3;
}
.home #right {
margin:35px 0 0 38px;
}
.home #right a.call img {
border-bottom:none;
padding-bottom:0;
margin-bottom:2.1em;
width:193px;
height:auto;
}
.home #right .homebox {
margin-right:0;
width:191px;
}
.home #right .homebox img{
width:191px;
border-top:1px solid #d6d6d3;
border-bottom:1px solid #d6d6d3;
}
.home #right h2{
width:192px;
}
.home #right img{
width:190px;
}
.home #right p.plantop{
margin:1em 0.2em;
}
.home h1 {
width:593px;
}
.home #text p#topP {
clear:both;
width:593px;
line-height:0.9em;
margin-bottom:3.1em;
}
.home .homebox {
float:left;
width:188px;
margin-right:11px;
background:#fff;
padding-top:12px;
border:1px solid #d6d6d3;
padding-bottom:1em;
}
.home .right {
margin-right:0;
}
.home .homebox img{
width:188px;
height:100px;
border-top:1px solid #d6d6d3;
border-bottom:1px solid #d6d6d3;
margin-bottom:1em;
}
.home #text .homebox p, .home #right .homebox p {
margin:0;
width:165px;
margin:0 1em 1em 1em;
}
.home #right .homebox p {
margin-bottom:2.5em;
}
.home .homebox h3, .home #right .homebox h3{
font-size:1em;
text-decoration:underline;
font-weight:bold;
padding-left:10px;
margin-bottom:1em;
border-bottom:none;
padding-bottom:0;
}
.home .homebox a.bottom{
margin-left:1em;
}
.home #homeMiddle {
width:593px;
clear:both;
}
.home .venues {
width:581px;
padding:18px 0;
margin-bottom:0;
}
.home .upper {
margin-bottom:0;
}
.home #text .venues img{
clear:none;
float:left;
margin-bottom:0;
}
.home #text .venues p{
width: 330px;
}
.home .venues a.bottom{
float:left;
}
.home #right a.bottom {
border-bottom:0;
}

/* SUMMARY
-------------------------------------------------------------- */
#summaryDiv {
background-color:#F2F1ED;
padding:40px 48px;
border:1px solid #d6d6d3;
}
#summaryDiv h3 {
font-size: 2em; line-height: 1; margin-bottom: 0.75em; padding-bottom: 0.75em;width:865px;
border-bottom:1px dotted #bdbeb3;
}
#summaryDiv ul {
margin-left:34px;
padding-left:0;
}
#summaryDiv h4 {
font-weight:bold;
}
#summaryDiv h3.hire {
border-bottom:none;
margin-bottom:0;
padding-bottom:0;
}




/*SCREEN********************************/  
body {
 background:#E6E7E1 url("/images/bg.jpg") repeat-x;
}
#outerMain {
background:transparent url("/images/menuBG.jpg") repeat-x;
}
#main {
width:960px;
margin:0 auto;
}
#top {
height:19px;
position:relative;
}
#logo img{
left:40px;
position:absolute;
z-index:100;
}
#box {
border:1px solid #C4C3BF;
border-top:0;
background:#fff;
clear:both;
margin-top:20px;
margin-bottom:20px;
}
#outerBox {
width:918px;
margin:0 auto 20px auto;
background-color:#F2F1ED;
}
.unnec {
clear:both;
}
#content {
float:left;
padding-bottom:35px;
}
#text, #pricing, #photo {
padding:0 38px 0 27px;
margin-top:35px;
float:left;
width:581px;
border-left:1px dotted #bdbeb3;
}
#right {
float:left;
width:195px;
margin:35px 38px 0 38px;
}
.lowertext {
float:left;
clear:both;
margin:0 28px;
padding-top:28px;
border-top:1px dotted #bdbeb3;
width:852px;
}
.photos .lowertext {
margin:0 36px;
width:844px;
}
.lowertext ul{
float:left;
list-style-position:inside;
margin:0;
width:243px;
}
.lowertext ul#mid_ul{
width:395px;
border-left:1px dotted #BDBEB3;
margin-bottom:28px;
padding-left:28px;
}
.lowertext ul#right_ul{
float:right;
width:auto;
margin:0 0 0;
list-style-type:none;
}
.lowertext ul#right_ul li{
text-align:right;
line-height:1.6em;
}
.lowertext ul#mid_ul li{
float:left;
width:140px;
}
.lowertext ul li{
margin-bottom:0.5em;
}
.lowertext ul li#tel{
color:#17515F;
}
.lowertext ul li.header{
color:#17515F;
font-size:1.2em;
font-weight:bold;
font-style:italic;
line-height:1em;
margin-bottom:0.5em;
text-decoration:underline;
list-style-type:none;
}
.lowertext ul#mid_ul li.header{
width:420px;
}
.photos .lowertext ul, .venues .lowertext ul, .venues .lowertext #mid_ul li, .photo .lowertext ul, .photo .lowertext #mid_ul li, #wide .forms .lowertext ul, #wide .forms .lowertext #mid_ul li{
width:160px;
}
.photos .lowertext #mid_ul, .venues .lowertext #mid_ul, .photo  .lowertext #mid_ul, #wide .forms .lowertext #mid_ul{
padding-left:94px;
width:320px;
}
.photo .lowertext ul#mid_ul li.header, #venues .lowertext ul#mid_ul li.header, #wide .forms .lowertext ul#mid_ul li.header{
width:320px;
}
.photo .lowertext ul#left_ul{width:252px;}.photos .lowertext #mid_ul{padding-left:2.5em;}
.video .lowertext ul {
width:253px;
}


/* Top
-------------------------------------------------------------- */
#pic {
position:relative;
}
#pic #mainPic{
width:918px;
}
#testi {
position:absolute;
z-index:3;
right:0;
width:335px;
height:278px;
margin:0;
top:0;
}
.home #testi {
height:300px;
background:transparent url("/images/paper.png") left 0 no-repeat;
}
#sites #testi {
height:180px;
}
.pricing #testi div, #sites #testi div {
padding-top:25px;
background-position:0 30px;
}
#testi div{
padding:30px 0 0 2px;
width:auto;
float:right;
height:220px;
text-align:right;
background:transparent url("/images/left_quotes2.png") 0 33px no-repeat;
}
#testi div span {
margin:0 40px 0 12px;
padding-right:21px;
font-weight:bold;
font-size:11px;
}
#testi div span, #testi div span a{
color:#2d2e2e;
text-align:right;
text-decoration:none;
display:block;
}
#testi div span#testimonial {
font-style:italic;
font-size:17px;
line-height:1.4em;
margin-bottom:20px;
padding-right:20px;
width:236px;
font-weight:normal;
text-shadow: #fff 0px 2px 3px;
background:transparent url("/images/right_quotes2.png") right bottom no-repeat;
}
#testi div span#testimonial img{
float:left;
padding-top:6px;
}


/* Menus
-------------------------------------------------------------- */
ul#mainMenu li, ul#subMenu li {
float:left;
list-style-type:none;
}
ul#mainMenu {
float:right;
clear:none;
margin:0 20px 0 0;
background:transparent url("/images/menu_sep.png") right 0 no-repeat;
}
ul#mainMenu li {

background:transparent url("/images/menu_sep.png") 0 0 no-repeat;
}
ul#mainMenu li a {
color:#b2c9d7;
text-decoration:none;
display:block;
font-weight:bold;
padding:10px 11px 9px 11px;
}
ul#mainMenu li.selected a, ul#mainMenu li a:hover {
color:#fff;
}
ul#mainMenu li.selected {
padding-left:2px;
background:transparent url("/images/menu_sel_sep.png") 0 0 no-repeat;
}
ul#mainMenu li.selected a{
padding:10px 11px 9px 9px;
background:transparent url("/images/menu_sel_BG.jpg") repeat-x;
}
a#skip {
display:none;
}
#subMenu {
position:absolute;
bottom:0;
background:#ff0000;
z-index:4;
left:309px;
height:30px;
margin:0;
border-bottom:1px solid #d9d8d5;
padding-left:6px;
background:transparent url("/images/sub_left.png") 1px 0 no-repeat;
}
#subMenu li { 
padding:0 12px 0 0;
border-bottom:1px solid #d9d8d5;
background:transparent url("/images/sub.png") right 0 no-repeat;
}
#subMenu li.menu_right {
padding:0 5px 0 0;
background:transparent url("/images/sub_right.png") right 0 no-repeat;
}
#subMenu li.menu_left {
padding-right:13px;
}
#subMenu li a{
text-decoration:none;
height:21px;
padding:8px 3px 0 3px;
display:block;
text-transform:uppercase;
background:#F2F1ED;
font-size:0.8em;
font-weight:bold;
border-top:1px solid #d9d8d5;
}
#subMenu li a:hover, #subMenu li a.selected{
color:#8aa3b3; 
}



/* TEXT
-------------------------------------------------------------- */
.textPhotos {
float:right;
clear:right;
width:206px;
}
.textPhotos img{
width:198px;
padding:3px;
border:1px solid #cccbc7;
margin:3px 0 5px 0;
display:block;
clear:both;
background-color:#fff;
}
#text .textPhotos p{
width:198px;
color:#17515F;
margin:0 0 15px 4px;
clear:both;
}
#text .textPhotos p a{
display:block;
}
#text p{
width:335px;
float:left;
}
#text p.wide, #wide #text p{
width:589px;
}
p.endCall,#text p.endCall, .forms #text p.endCall, #pricing ul.endCall {
font-weight:bold;
margin:1.5em 0 0 0;
width:564px;

}
#wide #text ul{
width:570px;
}
#text ul{
width:335px;
clear:left;
}
#text ul.wide{
width:589px;
}
#text ul li.wide{
width:589px;
}
#text ul li{
margin-bottom:1.5em;
}
#text ul.long li{
margin-bottom:0.75em;
}
#text ul.clients, #wide #text ul.clients, #text div.links{
width:280px;
float:left;
clear:none;
margin-right:0;
}
#wide #text ul.right {
width:280px;
}
#text ul.right {
margin:0;
float:right;
}
#text ul.float {
float:left;
clear:none;
width:260px;
}
#text div.links ul{
margin:0 0 3em 0;
padding:1em 1em 0 1em;
width:213px;
border-bottom:1px dotted #bdbeb3;
list-style-type:none;
background-color:#fbfaf9;
border:1px solid #D6D6D3;
}
#text div.links {
width:290px;
}
#text div.links ul a{
text-decoration:none;
color:#000;
}
#text div.links ul a:hover{
color:#17515F;
text-decoration:underline;
}
#text div.links h3{
width:250px;
margin:1.5em 0 0.5em 0.6em;
}
input.links {
clear:right;
float:left;
margin:0 0 1.5em;
width:580px;
}


/* MARQUEES
-------------------------------------------------------------- */
.marquee {
float:left;
width:205px;
background-color:#FFFFFF;
border:1px solid #d6d6d3;
}
.marquee h3 {
margin:1em 0 1em 15px;
}
.marquee img{
padding-bottom:1.5em;
}
#leftmarquee {
width:359px;
margin-right:13px;
}
#leftmarquee img{
width:359px;
height:87px;
}
.rightmarquee {
margin-bottom:17px;
}
.rightmarquee img{
width:205px;
height:87px;
}
#text .rightmarquee p {
width:167px;
padding:0 15px;
}
#text #leftmarquee p, #text #leftmarquee ul {
width:330px;
padding:0 15px;
}
#text #leftmarquee p#see_uses {
margin-bottom:0.75em;
border-top:1px dotted #BDBEB3;
padding:1em 0 0;
margin:0 15px 0.75em 15px;
}

/* RIGHT
-------------------------------------------------------------- */
#right img {
border:1px solid #bdbeb3;
}
#right h3{
font-size:1.7em;
border-bottom:1px dotted #bdbeb3;
margin-bottom: 20px; padding-bottom: 20px;
}
#right a img {
border:none;

}
#right a.border img {
border-bottom:1px dotted #bdbeb3;
padding-bottom:2em;
margin-bottom:2em;
}
#right a.noborder img {
margin-bottom:10px;
}
#right ul {
width:195px;
margin:0 0 40px;
list-style-position:inside;
border-bottom:1px dotted #bdbeb3;
padding-bottom: 10px;
}
#right ul.nobullet li{
list-style-type:none;
}
#right ul li{
margin-bottom:10px;

}
#right ul li a, #right ul li a:visited{
text-decoration:none;
}
#right ul li a:hover{
background-color:#17515F;
color:#fff;
}
#right ul li.selected a{
background-color:#17515F;
color:#fff;
text-decoration:none;
padding:2px;
}
#right a.call {
padding-bottom:1em;
display:block;
}
#right a.bottom {
border-bottom:1px dotted #bdbeb3;
margin-bottom: 40px; padding-bottom: 20px;
}
#right p.aboveCall {
margin-bottom:10px;
}
#boxout {
margin-bottom:40px;
padding-bottom:20px;
border-bottom:1px dotted #bdbeb3;
}
#right #boxout p img {
margin-bottom:1em;
}
#right #boxout p {
width:160px;
}
#right #boxout a img {
margin-bottom:0;
}




/* CASE STUDIES
-------------------------------------------------------------- */
.case {
width:278px;
float:left;
margin:0 25px 3em 0;
}
.rightcase {
margin-right:0;
}
.case img{
margin-bottom:0.5em;
border:1px solid #cccbc7;
padding:3px;
background-color:#fff;
}
#text .case p{
margin:0 5px;
width:auto;
}
p.abovecase {
margin-bottom:3em;
}


/* TESTIMONIALS
-------------------------------------------------------------- */
.testimonials #testi div span, .testimonials #testi div {
background-image:none;
}
.testimonials #testi div span {
font-size:2em;
font-style:italic;
font-weight:normal;
padding-left:43px;
color:#17515F
}
.testimonials #text p {
padding-bottom:1.5em;
border-bottom:1px dotted #bdbeb3;
}
.testimonials #text p.noborder {
border-bottom:none;
padding-bottom:0;
}


/* WIDGET and PLANNER
-------------------------------------------------------------- */
#planner #content {

}
#addwidget #text p {
width:390px;
clear:both;
}
#addwidget h1 {
width:840px;
margin:1em 0 0 38px;
float:left;
}
#addwidget #text {
border-right:1px dotted #bdbeb3;
border-left:none;
margin-right:28px;
padding:0 28px 0 38px;
width:auto;
}
#addwidget form {
padding:1em 1em 0.25em;
margin-bottom:0.5em;
float:left;
width:370px;
}
#addwidget input, #addwidget textarea {
margin-left:0;
}
#addwidget input.rb {
margin-left:0;
width:auto;
}
#addwidget input#widgetSubmit {
width:auto;
margin:0.5em 0 2em 0;
}
#addwidget label {
text-align:left;
}
#addwidget textarea {
width:366px;
float:left;
font-size:14px;
}
#addwidget #right {
width:390px;
margin-left:0;
margin-right:0;
}
#addwidget .widgetSize {
clear:both;
margin-bottom:0.5em;
}
iframe {
width:390px;
height:450px;
}
#planner #content, #planner #text {
width:auto;
padding:0;
border:none;
}
#planner h1 {
margin:0 0 10px 5px;
width:905px;
border-bottom:none;
}
#planner p, #planner h2 {
margin-left:38px;
width:834px;
}
#planner textarea{
float:none;
margin-left:38px;
margin-bottom:1.5em;
width:834px;
}
#plannerdiv {
margin-left:-20px;
}
#planner object, #planner embed {
margin:0;
border-top:none;
padding-top:0;
}



/* SITESLIST
-------------------------------------------------------------- */
#sites #text {
width:841px;
margin:0 38px;
padding:0 0 30px;
border:1px solid #ddddda;
background:#fff;
}
#sites h1 {
width:840px;
margin:1em 0 1em 38px;
float:left;
}
.testvenue0, .testvenue1 {
float:left;
padding:1.5em 2em 0 2em;
background-color:#fbfaf9;
width:792px;
}
.testvenue0 {
background-color:#fff;
}
#sites h3 span {
padding-left:10px;
}
#sites p.first {
width:561px;
margin-bottom:0.5em;
padding: 0 1em 0 0;
border-right:1px dotted #bdbeb3;
}
#sites p {
width:185px;
padding-left:1em;
}
#sites .extras {
width:792px;
float:left;
border-top:1px dotted #bdbeb3;
border-bottom:1px dotted #bdbeb3;
padding-top:0.5em
}
#sites .extras p{
width:auto;
margin:0 100px 0.5em 0;
padding:0 20px 0 0;
}
#sites .extras p.civil{
background:transparent url("/maps/icons/tick.png") right 4px no-repeat;
}
#sites .extras p.no{
background-image:url("/maps/icons/cross.png")
}
#sites .extras p.price{
padding-right:28px;
background:transparent url("/maps/icons/price_medium.png") right 4px no-repeat;
}
#sites .extras p.expensive{
padding-right:33px;
background-image: url("/maps/icons/price_expensive.png");
}
#sites .extras p.cheap{
padding-right:21px;
background-image: url("/maps/icons/price_cheap.png");
}
#sites p img {
float:left;
padding:3px;
border:1px solid #cccbc7;
background-color:#fff;
margin:0 1em 1em 0;
}
#sites p.endCall {
width:821px;
margin:35px 38px 0;
float:left;
}

/* typography
-------------------------------------------------------------- */
body { font-size: 75%; }


/* Default fonts and colors. */
body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,input,textarea { font-family: georgia, times, serif; }


/* Headings
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6 { font-weight: normal; font-style:italic;color:#17515F}
h1, h2 {
border-bottom:1px dotted #bdbeb3;
}
h1 { font-size: 2.5em; line-height: 1; margin-bottom: 0.5em; padding-bottom: 0.5em;width:581px;}
h1 #showall {font-size:0.4em;font-style:normal;font-weight:bold;float:right;margin-top:5px;padding:0.5em;
background-color:#fbfaf9;text-decoration:none;
border:1px solid #D6D6D3;}
h2 { font-size: 1.7em; margin-top:2em;margin-bottom: 0.75em; padding-bottom: 0.4em;width:581px;float:left;clear:both;}
#pricing h1 {
margin-bottom:0.5em;

}
h3 { font-size: 1.4em; line-height: 1; margin-bottom: 1em; clear:both;}
h4 { font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }
h5 { font-size: 1em; margin-bottom: 1.5em; }
h6 { font-size: 1em; }


/* Text elements
-------------------------------------------------------------- */

p { margin: 0 0 1.5em; }

ul, ol { margin: 0 1.5em 1.5em 1.5em; }
ul { list-style-type: disc; }
ol { list-style-type: decimal; }



abbr, acronym { border-bottom: 1px dotted #000; }
address { margin-top: 1.5em; font-style: italic; }
del { color: #000; }

a { color: #17515F; }
a:hover { text-decoration: underline; }
a.pdf {
padding:1px 19px 4px 0;
background:transparent url("/images/pdf_small.png") right -1px no-repeat;
}

blockquote { margin: 1.5em; }
strong { font-weight: bold; }
em, dfn { font-style: italic; }
dfn { font-weight: bold; }
pre, code { margin: 1.5em 0; white-space: pre; }
pre, code, tt { font: 1em monospace; line-height: 1.5; } 
tt { display: block; margin: 1.5em 0; line-height: 1.5; }


/* DLs & QUESTIONS
-------------------------------------------------------------- */
.questions h1 {
margin-bottom:1em;
}
.questions h2 {
border-bottom:none;
padding-bottom:0;
margin-top:1em;
border:1px solid #D6D6D3;
}
.questions .toggler {
cursor:pointer;
cursor:hand;
background:transparent url("/images/updown_arrow_grey.png") 99% -35px no-repeat;
}
.questions h2.toggler {
width:576px;
padding:0.2em 0 0.3em 5px;
background:#fff url("/images/updown_arrow.png") 99% -35px no-repeat;
}
.questions h2.down, .questions .down {
background-position:99% 17px;
}
dl {
margin: 0 0 1.5em 0;
float:left;
width:582px;
}
dl.narrow {
margin: 0 0 1.5em 20px;
float:left;
width:542px;
}
dl.narrow dt{
width:542px;
}
dl dt { float:left;clear:both;
font-size: 1.2em;
font-weight:bold;
line-height: 1;
margin-bottom: 1em;
padding:1em 0;
color:#17515F;
font-style:italic;
border-bottom:1px dotted #bdbeb3;
width:582px;
}
dl dd { margin:0 0 1.5em 1.5em;
float:left;
clear:both;
}
dd .textPhotos {
margin-bottom:1.5em;
}
.forms #text dd p, .forms #text dd ul, #text dd p, #text dd  ul{
width:auto;
}
.forms #text dd p.byphoto {
width:312px;
margin-right:28px;
}
.forms #text dl.narrow dd p.byphoto {
width:290px;
}
#text dd  ul, .forms #text dd  ul {
width:450px;
}
#text dd  ul ul {
margin:0.75em 0 0 1.5em;
}

/* Tables
-------------------------------------------------------------- */
#pricing p.price_bytable {
margin-bottom:4.5em;
margin-top:2px;
font-size:0.9em;
}
table {
background-color:#FBFAF9;
border:1px solid #D6D6D3;
width:582px;
}
th {border-bottom:1px dotted #D6D6D3; }

tr.odd {
background-color:#FFFFFF;
}
tr.hover {
background-color:#e2e1dD;
}
th.leftCol {
border-right: 1px dotted #D6D6D3;
border-bottom:none;
}
th.nobreak {
white-space:nowrap;
border-right:none;
}
th.top {
text-align:center;
border-bottom:none;
}
th,td {
padding: 8px;
}
th.marquee_total,td.marquee_total { 
font-weight:bold;
text-align:center;
}
td.marquee_total {
color:#17515F
}
th.leftBorder,td.marquee_total.leftBorder { 
border-left: 1px dotted #D6D6D3;
}
table.furn {
width:582px;
margin-bottom: 4.5em;
}
th.furnLeft0, table.furn td.furnRight0 {
background-color:#fff;
}
table.furn td, table.furn th {
border-bottom: 1px dotted #D6D6D3;
}
table.furn td {
text-align:center;
}
td.total, th.total {
font-weight:bold;
}

/*PHOTOS
-------------------------------------------------------------- */
.photos .thumbs {
width:821px;
float:left;
background:#ccc;
padding:24px 0 0 24px;
background-color:#fbfaf9;
margin:0 0 0 35px;
border:1px solid #D6D6D3;
}
.photos  h1{
line-height:1em;
width:845px;
margin:1em 0 0.5em 36px;
float:left;
}
.photos  h2{
font-size: 2.5em; 
line-height:1em;
width:845px;
margin:1.2em 0 0.5em 36px;
float:left;
}
.thumb {
float:left;
margin:0 0 10px 0;
padding:0 0 10px;
width:140px;
margin-right:24px;
height:140px;
}
.thumb img{
width:140px;
}
a.thumbLink {
float:left;
clear:both;
font-size:0.9em;
width:130px;
text-decoration:none;
padding:5px 1px;
}


/*PHOTO
-------------------------------------------------------------- */
.photo #right, .video #right {
width:217px;
padding:1.5em 1em;
margin:35px 13px 0 36px;
background-color:#FBFAF9;
border:1px solid #D6D6D3;
}
.video #right {
margin-left:26px;
}
.photo #right img, .video #right img {
float:left;
border:none;
margin:0;
}
.photo #right h3, .video #right h3 {
font-size:1.5em;
}
.photo #right .selected, .video #right .selected {
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);
-moz-opacity: 0.3;
opacity: 0.3;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}
#nextPrev{
margin:0 0 1em 0;
text-align:right;
line-height:1em;
float:right;
}
.photo h1 {
width:560px;
}
.video h1 {
width:555px;
margin-top:0.5em;
}
.photo #photo img {
margin-bottom:1.2em;
}
.photo #photo, .video #photo{
width:560px;
height:785px;
margin:35px 0 0 0;
padding:0.8em 1.1em 0 1.1em;
margin-top:35px;
background-color:#FBFAF9;
border:1px solid #D6D6D3;
}
.category #photo, .video #photo{
height:auto;
padding-bottom:0.8em;
}
.video #photo{
width:558px;
padding:1.7em 2em 0 2em;
}
#photo li {
margin-bottom:0.5em;
}
#facets, #help {
width:803px;
float:left;
padding:0.4em 20px 0.3em;
background-color:#fbfaf9;
margin:35px 0 0 35px;
border:1px solid #D6D6D3;
display:none;
}
#facets p, #facets ul {
float:left;
margin-bottom:0;
}
#facets p {
margin-right:80px;
}
#facets p#switch, #help p {
color:#17515F;
font-size:1.7em;
font-style:italic;
width:220px;
}
#facets p#inspire {
padding:7px 0 0 0;
width:300px;
}

#sites #facets p#switch {
width:235px;
}
#sites #facets p#inspire {
width:250px;
}
#facets #pick {
margin-top:2px;
background-color:#fff;
border:1px solid #ddddda;
border-right:2px solid #ccccc9;
float:left;
padding:0.25em 0 0.25em 0;
width:214px;
position:relative
}
#facets #pick p{
margin:0 0 0 15px;
width:195px;
}
#facets #pick p{
margin:0 0 0 15px;
width:195px;
}
#sites #facets #pick p{
width:184px;
}
#facets #facetlists {
position:absolute;
margin-top:20px;
background-color:#fff;
width:214px;
border:1px solid #ddddda;
border-right:2px solid #ccccc9;
border-bottom:2px solid  #ccccc9;
border-top:none;
left:-1px;
display:none;
z-index:400;
}
#facets #pick #picker{
float:left;
}
#facets #pick a#close, #help #closehelp{
float:right;
text-decoration:none;
border:1px outset #D6D6D3;
padding:4px 3px;
margin-top:1px;
font-weight:bold;
line-height:1.3em;
font-family:arial,helvetica,sans;
}
#sites #facets img {
margin:0;
border:none;
padding:0;
}
#facets #pick a#close:hover, #help #closehelp:hover{
border:1px inset #D6D6D3;
}
#facets #pick ul{
clear:left;
margin:0 0 15px 30px;
width:72px;
}
#facets #pick ul.first{
margin:5px 0 0 30px;
width:170px;
}
#facets #pick ul.rightfacet{
clear:none;
margin-left:25px;
}
#facets #pick ul a:link, #facets #pick ul a:visited{
font-size:0.9em;
text-decoration:none;
}
#facets #pick ul a:hover {
text-decoration:underline;
}
#facets #pick ul a.selected,  #facets #pick ul a.tabSelected{
font-weight:bold;
}


/*PRICING
-------------------------------------------------------------- */
#pricing caption span {
float:right;
clear:none;
margin-top:-24px;
}
#pricing p {
margin-bottom:3em;
}
#pricing caption {
color:#17515F;
font-size:1.4em;
font-weight:normal;
margin-bottom:0.25em;
font-style:italic;
}
#pricing hr {
margin-bottom:2em;
height:1px;
color: #F2F1ED;
background-color:#F2F1ED;
border: 1px dotted #BDBEB3;
border-style: none none dotted;
}
#pricing #facets {
width:540px;
margin:0 0 4em 0;
padding:0.5em 20px 0.5em;
}
#facets p, #facets ul {
float:left;
margin-bottom:0;
}
#facets p {
margin-right:30px;
}
#pricing #facets p#switch {
line-height:1.2em;
width:120px;
}
#pricing #facets p#inspire {
width:120px;
padding-top:6px;
}
#pricing #facets #pick {
margin-top:7px;
width:237px;
}
#pricing #facets #facetlists {
width:237px;
}
#pricing #facets #pick p{
width:217px;
}
#pricing #facets #pick ul{
width:88px;
}
#pricing #facets #pick ul li.select{
list-style-type:none;
font-size:0.9em;
margin-left:0;
font-weight:bold;
margin-left:-15px;
color:#17515F;
padding-top:0.6em;
}
#pricing #facets #pick ul li {
line-height:1.2em;
margin-bottom:0.5em;
}
#pricing #facets #pick ul.first{
width:200px;
border-bottom:1px dotted #bdbeb3;
list-style-position:inside;
margin:10px 0 5px 15px;
padding-bottom:5px;
}
#pricing #facets #pick ul a:hover{
text-decoration:underline;
}
#help {
width:540px;
margin:0 0 3em 0;
padding:0.25em 20px;
position:relative;
float:none;
}
#pricing #help p {
width:auto;
margin-bottom:0;
font-size:1.2em;
}
#help #closehelp{
float:right;
}
#help li {
margin-bottom:1em;
font-size:0.9em;
}
#help ul {
clear:both;
position:absolute;
background-color:#fff;
border:1px solid #D6D6D3;
border-right-width:2px;
border-bottom-width:2px;
border-top:none;
width:480px;
padding:1em 35px;
margin:5px 0 0 -8px;
}
#pricing ul.endCall {
list-style-position:inside;
}
#pricing ul#pricing_terms {
list-style-position:inside;
margin:0 0 2em;
font-size:0.9em;
padding-top:2em;
border-top:1px dotted #bdbeb3;
}


/* FORMS
--------------------------------------------------------------*/ 
#wide .forms #content{
width:918px;
}
#wide .forms #text{
border:none;
}
.forms #text {
border-left:none;
border-right:1px dotted #BDBEB3;
position:relative;
}
.forms #text #response{
position:absolute;
margin:-600px 0 0 -17px;
background-color:#FBFAF9;
padding:40px 20px 20px;
border:1px solid #DDDDDA;
}
.questions .forms #text {
border-right:none;
border-left:1px dotted #BDBEB3;
min-height:724px;
}
form {
background-color:#fbfaf9;
clear:both;
border:1px solid #ddddda;
padding:0 28px 28px 28px;
}
.forms #text p{
width:589px;
}
.forms #text p.privacy {
font-size:0.9em;
}
#wide .forms #text form p.instructions, .forms #text form p.instructions{
margin:0 0 0.75em 121px;
width:405px;
float:left;
}
.forms #text form p, #wide .forms #text form p{
float:right;
width:auto;
margin:0 148px 0 0;
}
.forms #text ul {
width:560px;
}
.forms #right h2 {
color:#17515F;
font-weight:bold;
font-style:italic;
margin-bottom:0;
width:auto;
font-size:1.2em;
border-bottom:none;
padding-bottom:0;
margin:0;
}
.forms #right p {
clear:both;
font-size:0.9em;
}
.forms #right p.privacy {
margin-bottom:0;
}
.forms #right p span.areas{
float:left;
padding:0 0 2px;
}
fieldset {
padding:0 0 1.5em;
border-bottom:1px dotted #BDBEB3;
clear:both;
}
fieldset.noborder {
border-bottom:none;
}
legend {
padding:1em 0 0.75em 121px;
font-style:italic;
font-weight:normal;
float:left;
clear:both;
font-size:1.7em;
color:#17515F;
}
form h4 {
clear:both;
margin:0 0 0.75em;
padding-top:0.75em;
}


/* FORM
--------------------------------------------------------------*/ 
label {
clear:both;
float:left;
margin:0 0 0.75em;
text-align:right;
width:375px;
}
label.cb, label.rb {
width:135px;
}
label.rb {
clear:none;
}
label.extra {
width:533px;
}
label.extra span.end {
padding-left:10px;
font-size:0.9em;
}
label.right {
clear:right;
width:237px;
}
label.ta {
margin-top:0.75em;
}
label.ta span {
float:left;
padding-left:26px;
}
label.ta span.required, label.dd span.required {
padding-left:0;
}
label.dd {
width:533px;
text-align:left;
margin-top:0.75em;
}
label.dd select{
float:right;
clear:none;
}
label.dd span {
float:left;
padding-left:66px;
}
label.ta span.instructions, label.dd span.end {
padding:5px 0 0 10px;
font-size:0.9em;
text-align:left;
width:150px;
float:right;
}
label.dd span.end {
padding-top:0;
}
label.submit {
margin-bottom:0.1em;
}
label.cb input, label.rb input{
width:auto;
}
input, textarea, select {
width:250px;
margin-left:10px;
}
input.bottom {
margin-bottom:0;
}
textarea {
float:right;
}
select {
width:254px;
}
input#contactSubmit {
width:auto;
margin-bottom:0.25em;
}
.required {
color:#17515F;
padding-right:0.1em;
}

/* RIGHT FORM
--------------------------------------------------------------*/ 
#right form {
padding:0 22px 1.5em;
margin:0 0 3em;
font-size:0.9em;
}

#right label {
width:150px;
clear:both;
float:left;
margin:1em 0 0.75em;
text-align:left;
}
#right input, #right textarea {
width:145px;
margin:0;
}
#right textarea {
float:none;
}
#right input#contactSubmit {
width:150px;
margin-top:1em;
}
#right .error {
margin-left:0;
width:143px;
}
#right .summary {
margin:0 23px 0.75em 0;
width:185px;
padding:5px;
}



/* FORM RIGHT
--------------------------------------------------------------*/
.forms #right img {
background-color:#fff;
margin-bottom:8em;
padding:3px;
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
-moz-opacity: 0.7;
opacity: 0.7;
}
.forms #right img:hover {
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
-moz-opacity: 1;
opacity: 1;
}
.forms #right.contact img {
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
-moz-opacity: 1;
opacity: 1;
margin-bottom:0;
padding.0;
background-color:transparent;
}

/* ERRORS
--------------------------------------------------------------*/ 
.error {
background-color:#008caa;
color:#fff;
clear:both;
float:left;
margin:0 0 20px 121px;
width:auto;
font-weight:bold;
padding:3px;
display:none;
}
.errorclear {
margin-right:230px;;
}
.summary {
margin:2em 0 0;
padding:3px 33px;
}
noscript .error{
margin-left:0;
display:block;
}
.noscript a{
	color:#fff;
}