/* CSS Document */

/* Site
-------------------------------------------------------------- */
#top {
z-index:4;
padding-bottom:2px;
}
#box {
margin-top:0;
padding-bottom:20px;
}
#right {
display:inline;
}
.lowertext {
display:inline;
width:860px;
margin-bottom:20px;
}
#text {
padding-left:25px;
}
#pricing {
padding-left:20px;
padding-right:0;
}
.unnec {
width:580px;
}

/* Menus
-------------------------------------------------------------- */
ul#mainMenu {
margin-right:10px;
}
#subMenu {
position:relative;
top:-34px;
width:600px;
background-position:2px 0;
}
#subMenu li a{
display:inline;
padding-bottom:8px;
}
#subMenu li, #subMenu li.menu_right{
padding-top:8px;
padding-bottom:8px;
}




/* TEXT
-------------------------------------------------------------- */
#text p, h1, h2 {
display:inline;
}
#text h3 {
width:580px;
}
#text p.wide, #wide #text p, h1, h2{
width:580px;
}
#text ul{
display:inline;
float:left;
margin-left:0;
}
#text ul.clients li, #text ul.long li {
width:260px;
}
#text div.links {
width:291px;
}
#text div.links ul.long li{
width:250px;
}
#text div.links ul.long {
padding: 1em 0;
}
.textPhotos {
margin-left:-206px;
}
input.links {
width:570px;
}


/* MARQUEES
-------------------------------------------------------------- */
#text .marquee h3 {
width:auto;
}
.rightmarquee {
margin-bottom:27px;
}
#text #leftmarquee p, #text #leftmarquee ul {
width:307px;
}
#text .marquee ul.long {
position:relative;
left:1.5em;
}
#text .marquee a.bottom {
display:block;
padding-bottom:1.2em;
}


/* RIGHT
-------------------------------------------------------------- */
#right ul {
list-style-position:outside;
}

/* LOWER TEXT
-------------------------------------------------------------- */
.lowertext ul{
display:inline;
}
.lowertext ul.long li{
margin-bottom:0.5em;
display:inline;
}
.lowertext ul li{
list-style-position:outside;
}


/* WIDGET and PLANNER
-------------------------------------------------------------- */
object {
float:left;
}
iframe {
width:395px;
}



/* WIDGET and PLANNER
-------------------------------------------------------------- */
#map p img{
float:right
}
object, embed {
margin-left:0;
}
#addwidget  ul#subMenu, .add_venue  ul#subMenu {
width:648px;
left:236px;
}
#addwidget textarea {
width:340px;
}
#addwidget label {
width:340px;
margin-left:0;
}
#addwidget #text #widgetForm p {
width:360px;
}
#planner #smallpic, #planner h1 {
margin-left:20px;
}

/* SITESLIST
-------------------------------------------------------------- */
#sites #text {
display:inline;
}
#sites h1 {
display:inline;
}
#sites ul#subMenu {
width:648px;
left:236px;
}
#sites #pic {
width:918px;
}
#sites p.endCall {
display:inline;
}

/* Headings
-------------------------------------------------------------- */

h1 {
display:block;
}
h2 {
display:block;
float:none;
}


/* DLs & QUESTIONS
-------------------------------------------------------------- */
dl dd {
width:500px;
}
.forms #text dd p, #text dd p {
width:450px;
}
.forms #text dd .textPhotos p {
width:auto;
}
.forms #text dd p.byphoto {
width:280px;
}
input.links {
float:none;
}


/*PRICING
-------------------------------------------------------------- */
#pricing #facets #pick {
z-index:10;
}



/* HOME
-------------------------------------------------------------- */
.home #text h3 {
width:auto;
}

/*PHOTOS
-------------------------------------------------------------- */
.photos .thumbs {
display:inline;
}
.photos  h1{
display:inline;
}
.thumb {
display:inline;
}
a.thumbLink {
font-size:10px;
}
#facets {
display:inline;
}
#facets p {
display:inline;
}
#facets #facetlists {
padding-bottom:10px;
}
#facets #pick ul, #facets #pick ul.first{{
display:inline;
margin-left:15px;
}
.smThumb{
width:72px;
float:left;
}
#thumbsDiv .unnec {
width:217px;
}
.photo #right .selected {
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);
}
.photo #photo{
height:791px;
}


/* FORMS
--------------------------------------------------------------*/
.forms #text p.privacy {
width:230px;
}
legend {
margin-left:1em;
}
form h4 {
padding-left:1em;
}
.forms .unnec {
float:left;
}

/* FORM
--------------------------------------------------------------*/
label {
margin-left:1em;
}
label.extra {
padding-left:1em;
margin-left:0;
}
label.cb {
float:left;
width:140px;
}
label.right {
float:none;
float:right;
margin-right:16em;
}
label.extra span.end {
padding-left:8px;
}
form {
display:inline;
}
#right.contact {
margin-left:38px;
margin-right:15px;
}

/* FORM RIGHT
--------------------------------------------------------------*/
.forms #right {
	margin-left:38px;
	margin-right:15px;
}



/* RIGHT FORM
--------------------------------------------------------------*/ 
#right form {
border:none;
background-color:transparent;
}

/* ERRORS
--------------------------------------------------------------*/ 
.error {
margin-left:159px;
}
.summary {
margin:2em 0 1em 0;
}



/* MAPS.CSS
--------------------------------------------------------------*/ 
#main.venues #subMenu {
top:0;
width:auto;
}
.venues #outerMap {
width:916px;
margin-left:0;
}
#main.venues p {
display:inline;
}


/* QUOTE
--------------------------------------------------------------*/
#quote .error {
	width:355px;
	margin-left:67px;
}
#quote #response {
left:372px;
}
#quote .forms #response p{
clear:both;
}
#quote.print #response p{
	width:550px;
}
#hider {
width:675px;
height:990px;
}
#emaildetails {
	width:477px;
	left:380px;
}