/* CSS Document */

#top {
z-index:4;
}
.lowertext {
margin-bottom:20px;
}
#box {
padding-bottom:20px;
}
#testi div span#testimonial {
text-shadow: none;
}


/* TEXT
-------------------------------------------------------------- */
#text h3 {
width:580px;
}
h2{
width:580px;
}
#text ul{
display:inline;
float:left;
margin-left:0;
}
#main.venues #map p img{
float:right
}
dl dd {
width:500px;
}
dl dt {
display:block;
}

/*PRICING
-------------------------------------------------------------- */
#pricing #facets #pick {
z-index:10;
}



/*PHOTOS
-------------------------------------------------------------- */
#facets #facetlists {
padding-bottom:10px;
}


/* FORMS
--------------------------------------------------------------*/
.forms #text p.privacy {
width:230px;
}
.forms #text dd p, #text dd p {
width:450px;
}
.forms #text dd .textPhotos p {
width:auto;
}
.forms #text dd p.byphoto {
width:280px;
}
label.cb {
float:left;
width:140px;
}
label.right {
float:none;
float:right;
margin-right:16em;
width:235px;
}
label.extra span.end {
padding-left:8px;
}
form {
display:inline;
float:left;
padding-right:0;
}
form h4 {
width:500px;
}
.summary {
width:520px;	
}

/* RIGHT FORM
--------------------------------------------------------------*/ 
.questions .form #right form {
border:none;
background-color:transparent;
}


/* QUOTE
--------------------------------------------------------------*/ 
#quote .error {
	width:355px;
}
#quote #response {
left:372px;
}
#quote .forms #response p{
clear:both;
}
#quote.print #response p{
	width:550px;
}
#emaildetails {
	width:477px;
	left:380px;
}