@charset "utf-8";
body {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	line-height: 1.5em;
	color: #333;
padding:2em;
}
td {
vertical-align:top;
padding:1em 0;
}
.error {
color:#fff;
background-color:#cc0000;
margin-top:1em;
padding:2px;
width:200px;
display:none;
}
#tbName, #tbPassword {
width:200px;
}
table {
border:1px solid #ccc;
padding:5px 10px;
background-color:#eee;
}