@charset "utf-8";
@charset "utf-8";
@-ms-viewport {width: device-width;}
@viewport {width: device-width;}

@media only screen and (max-width: 640px){
#main, #outerbox, #homeTop, .home #homeMiddle, .home .homebox,.home #text p#topP,#text, .home #text,.lowertext,#outerBox,#pic #mainPic,#mainPic img{width:100%}
#mainPic img{height:auto}
#text, #pricing, #photo{padding-left:0}
.home .homebox {float:none;}
}

