#main.venues #content {

}

#main.venues h2 {
margin:0 0 10px 28px;
padding-bottom:10px;
width:856px;
}
#main.venues h1 {
margin:35px 0 10px 5px;
padding-bottom:10px;
width:905px;
}
#main.venues p {
margin:0 0 1.5em 28px;
width:856px;
float:left;
}
#main.venues ul#maps {
list-style-type:none;
margin-left:28px;
width:856px;
float:left;
}
#main.venues ul#maps li{
float:left;
width:400px;
margin-bottom:7px;
}
#main.venues textarea {
float:none;
margin-left:28px;
margin-bottom:1.5em;
width:854px;
font-size:1em;
height:30px;
}
#main.venues #subMenu {
float:left;
position:relative;
bottom:9px;
background:#ff0000;
z-index:4;
left:5px;
height:25px;
margin:0;
border-bottom:none;
padding-left:0;
background:transparent none;
width:auto;
}
#subMenu li a{
font-size:0.9em;
}
#subMenu li { 
border-bottom:none;
background-image:none;
}
#subMenu li.menu_right {
background-image:none;
}
#subMenu li a{
border:none;
}
#outerMap {
width:915px;
margin:0 0 0 2px;
padding:0;
border:1px dotted #bdbeb3;
background-color:#fff;
float:left;
}
td {
padding:0;
}
#side_bar {
float:left;
text-align:left;
height:500px;
overflow:auto;
width:168px;
background-color:#fff;
}
#content #side_bar a:visited, #content #side_bar a:link{
display:block;
margin:0;
border-bottom:1px dotted #bdbeb3;
padding:6px 3px;
font-size:11px;
text-decoration:none;
background-color:#fff;
}
#content #side_bar a:hover {
background-color:#F2F1ED;
}
#selects {
border:1px double #839461;
background:#fff;
width:132px;
text-align:center;
}
#content #selects h3{
padding:4px;
margin-bottom:6px;
border-bottom:1px solid #839461;
background-color:#F2F1ED;
text-align:center;
}
#content #selects select{
background-color:#fff;
font-size:12px;
font-weight:bold;
color:#333;
border:1px solid #bdbeb3;
width:125px;
margin:0 auto 6px auto;
clear:both;
}
#sidebar select option{
height:20px;
}
#map {
margin:0;
border:none;
border:5px solid #fff;
float:left;
}
#map span.iws {
font-size:10px;
}
.mywindow {
background-color:#fff;
border:1px solid #BDBEB3;
padding:10px;
}
#map h3 {
margin:0 0 4px 0;
font-size:12px;
font-weight:bold;
text-align:left;
color:#17515F;
font-style:normal;
}
#map a, #map a:visited {
font-size:11px;
float:left;
padding-bottom:3px;
}
#main.venues #map p {
margin:0 0 3px 0;
font-size:10px;
text-align:left;
line-height:1.1em;
float:left;
width:150px;
}
#map p a, #map p a:visited{
float:right;
}
#map p a.inline, #map p a.inline:visited{
float:none;
font-size:10px;
}
#main.venues #map p.first {
width:300px;
clear:both;
float:left;
line-height:1.3em;
border-top:1px dotted #BDBEB3;
padding:2px 0;
border-bottom:1px dotted #BDBEB3;
}
#map div.extras {
float:left;
clear:both;
border-top:1px dotted #BDBEB3;
padding:3px 0 0 0;
margin:0;
height:25px;
}
#main.venues #map div.extras p{
width:120px;
padding-bottom:3px;
clear:none;
float:left;
margin-bottom:2px;
}
#main.venues #map div.extras p.left{
margin-left:60px;
}
#map div.extras p.civil{
background:transparent url("/maps/icons/tick.png") right 1px no-repeat;
}
#map div.extras p.no{
background-image:url("/maps/icons/cross.png");
}
#map div.extras p.price{
margin-bottom:0;
padding-bottom:1px;
background:transparent url("/maps/icons/price_medium.png") right 1px no-repeat;
}
#map div.extras p.cheap{
background:transparent url("/maps/icons/price_cheap.png") right 1px no-repeat;
}
#map div.extras p.expensive{
background:transparent url("/maps/icons/price_expensive.png") right 1px no-repeat;
}
#map p img{
padding:0 0 1px 1px;
}
#map #error {
background-color:#bb0000;
padding:2px;
color:#fff;
font-weight:bold;
width:220px;
margin:0 0 5px 0;
display:none;
}
#map textarea {
width:300px;
height:100px;
margin:10px 0;
}
#map input {
width:auto;
}
#map form {
margin:0;
}
#map #comments {
margin-bottom:10px;
padding-bottom:10px;
border-bottom:1px dashed #ccc;
font-weight:bold;
}
#key {
border:1px dotted #bdbeb3;
background-color:#fff;
padding:10px;
float:left;
border-top:none;
margin:0 2px 1.5em;
width:893px;
}
/*#key ul{
float:left;
clear:both;
margin-left:0;
margin-bottom:0.5em;
border-bottom:1px dotted #bdbeb3;
}
#key li {
float:left;
list-style-type:none;
list-style-position:inside;
margin-right:3.4em;
padding-bottom:0.5em;
}
#key li img{
padding-right:0.5em;
}*/
#main.venues #key p {
margin:0;
font-size:11px;
}