.venues h2 {
    margin: 0 0 10px 28px;
    padding-bottom: 10px;
    width: 856px;
}

.venues h1 {
    margin: 35px 0 10px 5px;
    padding-bottom: 10px;
    width: 905px;
}

.venues p {
    margin: 0 0 1.5em 28px;
    width: 856px;
    float: left;
}

.venues ul#maps {
    list-style-type: none;
    margin-left: 28px;
    width: 856px;
    float: left;
}

.venues ul#maps li {
    float: left;
    width: 400px;
    margin-bottom: 7px;
}

.venues textarea {
    float: none;
    margin-left: 28px;
    margin-bottom: 1.5em;
    width: 854px;
    font-size: 1em;
    height: 30px;
}

.venues #subMenu {
    float: left;
    position: relative;
    bottom: 9px;
    background: #f00;
    z-index: 4;
    left: 5px;
    height: 25px;
    margin: 0;
    border-bottom: none;
    padding-left: 0;
    background: transparent none;
    width: auto;
}

#subMenu li a {
    font-size: .9em;
}

#subMenu li {
    border-bottom: none;
    background-image: none;
}

#subMenu li.menu_right {
    background-image: none;
}

#subMenu li a {
    border: none;
}

#outerMap {
    width: 100%;
    margin: 0 0 0 2px;
    padding: 0;
    border: 1px dotted #bdbeb3;
    background-color: #fff;
    float: left;
}

td {
    padding: 0;
}

#side_bar {
    float: left;
    text-align: left;
    height: 500px;
    overflow: auto;
    width: 168px;
}

#content #side_bar a:visited,
#content #side_bar a:link {
    display: block;
    margin: 0;
    border-bottom: 1px dotted #bdbeb3;
    padding: 6px 3px;
    font-size: 11px;
    text-decoration: none;
    background-color: #fff;
}

#content #side_bar a:hover {
    background-color: #F2F1ED;
}

#selects {
    border: 1px double #839461;
    background: #fff;
    width: 132px;
    text-align: center;
}

#content #selects h3 {
    padding: 4px;
    margin-bottom: 6px;
    border-bottom: 1px solid #839461;
    background-color: #F2F1ED;
    text-align: center;
}

#content #selects select {
    background-color: #fff;
    font-size: 12px;
    font-weight: bold;
    color: #333;
    border: 1px solid #bdbeb3;
    width: 125px;
    margin: 0 auto 6px auto;
    clear: both;
}

#sidebar select option {
    height: 20px;
}

#map {
    margin: 0;
    border: none;
    border: 5px solid #fff;
    float: left;
}

#map span.iws {
    font-size: 10px;
}

.mywindow {
    background-color: #fff;
    border: 1px solid #BDBEB3;
    padding: 10px;
}

#map h3 {
    margin: 0 0 4px 0;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    color: #17515F;
    font-style: normal;
}

#map a,
#map a:visited {
    font-size: 11px;
    float: left;
    padding-bottom: 3px;
}

.venues #map p {
    margin: 0 0 3px 0;
    font-size: 10px;
    text-align: left;
    line-height: 1.1em;
    float: left;
    width: 150px;
}

#map p a,
#map p a:visited {
    float: right;
}

#map p a.inline,
#map p a.inline:visited {
    float: none;
    font-size: 10px;
}

.venues #map p.first {
    width: 300px;
    clear: both;
    float: left;
    line-height: 1.3em;
    border-top: 1px dotted #BDBEB3;
    padding: 2px 0;
    border-bottom: 1px dotted #BDBEB3;
}

#map div.extras {
    float: left;
    clear: both;
    border-top: 1px dotted #BDBEB3;
    padding: 3px 0 0 0;
    margin: 0;
    height: 25px;
}

.venues #map div.extras p {
    width: 120px;
    padding-bottom: 3px;
    clear: none;
    float: left;
    margin-bottom: 2px;
}

.venues #map div.extras p.left {
    margin-left: 60px;
}

#map div.extras p.civil {
    background: transparent url("/maps/icons/tick.png") right 1px no-repeat;
}

#map div.extras p.no {
    background-image: url("/maps/icons/cross.png");
}

#map div.extras p.price {
    margin-bottom: 0;
    padding-bottom: 1px;
    background: transparent url("/maps/icons/price_medium.png") right 1px no-repeat;
}

#map div.extras p.cheap {
    background: transparent url("/maps/icons/price_cheap.png") right 1px no-repeat;
}

#map div.extras p.expensive {
    background: transparent url("/maps/icons/price_expensive.png") right 1px no-repeat;
}

#map p img {
    padding: 0 0 1px 1px;
}

#map #error {
    background-color: #b00;
    padding: 2px;
    color: #fff;
    font-weight: bold;
    width: 220px;
    margin: 0 0 5px 0;
    display: none;
}

#map textarea {
    width: 300px;
    height: 100px;
    margin: 10px 0;
}

#map input {
    width: auto;
}

#map form {
    margin: 0;
}

#map #comments {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ccc;
    font-weight: bold;
}

#key {
    border: 1px dotted #bdbeb3;
    background-color: #fff;
    padding: 10px;
    float: left;
    border-top: none;
    margin: 0 2px 1.5em;
    width: 100%;
}

.venues #key p {
    margin: 0;
    font-size: 12px;
}

.map_wrapper {
    float: left;
    position: relative;
	    padding-left: 0;
}

.map-filter-wrapper {
    position: absolute;
    z-index: 10;
    bottom: 28px;
    right: 65px;
    background: rgb(255, 255, 255, .7);
    padding: 7px 0;
    border-radius: 2px;
    box-shadow: 1px 1px 3px 0 rgba(204, 204, 204, 1)
}

.map_filters {
    width: 35%;
    margin-bottom: 0
}

.map-filter-wrapper h3 {
    margin: 0 5px
}

#side_bar {
    height: 655px
}

@media only screen and (max-width:992px) {
    img {
        max-width: 100%
    }
    #main {
        width: 100%;
        overflow: hidden
    }
    .lowertext {
        width: 94%
    }
    #outerBox {
        width: 100%;
       /* margin: 0*/
    }
    #content {
        float: none
    }
    #key,
    .venues h1,
    .venues h2,
    .venues p {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding: 5px 10px
    }
    .venues #subMenu {
        float: none;
        max-width: 98%
    }
    #outerMap {
        width: 100%;
        margin: 0
    }
    #map {
        width: 93vw!important
    }
    #side_bar {
        display: none
    }
    .venues ul#maps {
        margin: 0;
        padding-left: 15px
    }
    #outerMain {
        background-color: #2D5E79
    }
    #content p.wide {
        width: 80%;
        padding: 0 10%;
        text-align: left
    }
    .venues h2 {
        width: 80%;
        padding: 0 10%;
        border: none;
        margin: 0 auto 1em
    }
    .venues ul#maps {
        width: 80%;
        padding: 0 10% 20px
    }
    .venues textarea {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        height: 60px
    }
}

@media screen and (max-width: 768px) {	
	.map_wrapper{
		padding-left:15px;
	}
	.venues #subMenu {
		display: flex;
		flex-direction: column;
	}
	
	#subMenu li a {
		font-size: 1.2em;
		height: auto;
	}
}



@media only screen and (max-width:767px) {
    #map,
    #outerMap {
        height: 600px!important
    }
    table#outerMap {
        margin-top: 35px
    }
    .map_filters {
        width: 32%
    }
    #map h3 {
        padding-bottom: 2px;
        margin: 2px 0 6px;
        font-size: 13px
    }
    .venues #map p.first {
        padding: 5px 0;
        line-height: 1.4em
    }
    .venues #map p {
        font-size: 12px;
        line-height: 1.4em;
        display: inline-block;
        width: 43%;
        padding-left: 0
    }
    .venues #map div.extras p {
        padding: 0 15px 0 0;
        margin: 3px 0
    }
    .venues #map div.extras p.left {
        margin-left: 17px
    }
    #map p img {
        padding: 0 0 2px 5px
    }
    #map .map-info-wrapper,
    #map div.extras {
        height: auto!important
    }
    #map p a,
    #map p a:visited {
        float: left;
        margin-left: 15px
    }
    .map-filter-wrapper {
        padding: 15px 0 15px 7px
    }
    .map-filter-wrapper h3 {
        float: left
    }
    .venues h1 {
        padding: 1em 10px .5em
    }
    #subMenu li a {
        font-size: 1.1em
    }
    .venues #key p {
        margin: 0;
        pADDING: 1%;
        width: 100%
    }
}

@media only screen and (max-width:640px) {
    .venues #subMenu {
        max-width: 100%;
        left: 0!important;
        margin-bottom: 90px
    }
    ul#subMenu li {
        border-bottom: 1px solid #d9d8d5
    }
    #subMenu li a {
        font-size: 1.2em
    }
}