@charset "UTF-8";
/* CSS Document */

:root{
  --cm-color: #255167;
  --cm-hue: #6b8494;
  --cm-alpha-color: rgba(37, 81, 103,0.2);
  --cm-alpha-more: rgba(37, 81, 103,0.05);
}

html,
body {
  color: var(--cm-color);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}
body {
  font-size: 1.2rem;
  line-height: 1.4;
  color: var(--cm-color);
  font-family: "gill-sans-nova", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
/*Common Styles*/
strong {
  font-weight: 500;
}
.nomargin {
  margin:0;
}



.container-full {
  width: 100%;
  overflow: hidden;
}
.container {
  width: 100%;
  /* max-width: 80rem; */
  max-width: 89.5%;
}
@media screen and (max-width: 640px) { 
  .container {
    max-width: fit-content;
  }
  
}
a {
  color: var(--cm-color);
}
a:focus,
button:focus,
input:focus,
textarea:focus,
div:focus {
  outline: none !important;
}
a:hover,
.wrapper a:hover {
  /* transition: all 0.5s ease 0s; */
  color: var(--cm-alpha-color);
}

img {
  max-width: 100%;
  height: auto;
}


.footer-bottom-menu {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  gap: 0.938rem;
}

.footer-bottom {
  padding: 3.125rem 0 1.875rem;
  border-top: 1px solid rgba(37,81,103,0.2);
  margin-top: 3.125rem;
  font-weight: 400;
}

.footer-bottom * {
  text-decoration: underline;
}

.nav-scroll .navbar-brand svg path {
  fill: var(--cm-color);
}

.header-wrapper {
  align-items: flex-end;
  justify-content: space-between;
}

.home #main{
  margin-top: 0;
  padding: 0;
}

.dropdown {
  float: right;
  margin-bottom: 1rem;
  width:100%;
}

.dropdown-menu {
  column-count: 2;
  background: #ffffff;
}

/* .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
} */

.post-item a {
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.1;
}

.post-text {
  padding-top: 0.5rem;
}

.post-content {
  max-width: 80%;
  margin-top: 2rem;
  padding-left: 1.5rem;
}
@media screen and (max-width: 1000px) { 
  .post-content {
    max-width: 100%;
    padding-left: 0.1rem;
  }
  .dropdown {
text-align: center;
  }
}
.post-content .btn {
  margin-top: 2.5rem;
}

.gallery-list {
  margin-top: 5rem;
}

.post-item {
  margin-bottom: 3rem;
}

.dropdown a,
.btn-class.dark {
  background: #ffffff;
  color: var(--cm-color);
  border-color: var(--cm-alpha-more);
  width: 100%;
}
.btn-class.dark {
border:none;
/* padding:0.75rem EQUALS 0.5*gutter-x which isnt set for this */
padding:1rem;
}

.btn-class.dark.load-more{
  border: 1px solid var(--cm-color); 
}
.btn-class span {
  font-weight:300;
}

.post-media-wrapper .carousel-control-prev,
.post-media-wrapper .carousel-control-next,.slick-slider .slick-prev,.slick-slider .slick-next{
  position: absolute;
  top: auto;
  bottom: 1rem;
  height: 4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  color: #fff;
  text-align: center;
  background: none;
  border: 0;
  opacity: 1;
  transition: opacity 0.15s ease;
  border: 1px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.slick-slider .slick-prev:before,.slick-slider .slick-next:before{
  display: none;
}

.post-media-wrapper .carousel-control-prev,.slick-slider .slick-prev {
  left: unset;
  right: 6rem;
  z-index: 5;
  top: 50%;
  transform: translateY(-50%);
}

.post-media-wrapper .carousel-control-next,.slick-slider .slick-next {
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.post-media-wrapper .post-item-img {
  position: relative;
}

.post-item-img img{
  width: 100%;
  height: auto;
}

.content-section .menu-wrapper{
  margin-top:2rem;
}


.slick-list{padding:0 5% 0 5% !important;}

.navigation a {
  border-bottom: 1px solid;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.9rem;
  font-weight: 600;
  padding-bottom: 0.2rem;
}

.single-case_studies .navigation{
  display: flex;
  align-items: baseline;
  flex-flow: row wrap;
}
.single-case_studies .backto{
padding-left:2rem;
background-repeat:no-repeat;
background-image:url(../images/svg/arrow.svg);
    background-position-y: center;
    background:url(../images/svg/arrow_back.svg) 0 center no-repeat;
}

.single-case_studies .next-pre-nav{  
margin-left: 2rem;
}

.next-pre-nav a{
  border-bottom: none;
  text-transform: capitalize;
  padding-bottom: 0;
  display: inline-block;
  border: 1px solid;
  border-radius: 1rem;
  padding: 0.313rem 0.625rem;
  display: inline-flex;
  align-items: center;
  line-height: 1.2rem;
  min-width: 8rem;
  justify-content: space-between;
}

.control-prev img{
  transform: rotate(180deg);
}

.related-gallery-list .slick-prev,
.related-gallery-list .slick-next {
  width: 45px;
  height: 45px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  z-index: 9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.related-gallery-list .slick-prev {
  left: 8rem;
}

.related-gallery-list .slick-next {
  right: 8rem;
}

.related-gallery-list .slick-prev::before,
.related-gallery-list .slick-next::before {
  display: none;
}

.related-gallery-list{
  position: relative;
}
.related-gallery-list::before,
.related-gallery-list::after {
  content: '';
  position: absolute;
  top: 0;
  width: 5%; /* Adjust the width for the visible area */
  height: 100%;
  z-index: 1;
}

.related-gallery-list::after {
  right: 0;
  left: auto;
  background-color: rgba(255, 255, 255, 0.8); /* Adjust the colors and transparency as needed */
}

.related-gallery-list::before {
  left: 0;
  right: auto;
  background-color: rgba(255, 255, 255, 0.8); /* Adjust the colors and transparency as needed */
}

.btn-class{
  font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    padding: 1rem;
    letter-spacing: 0.2rem;
    display: inline-block;
}
.btn-class {
  color: #fff;
  border: 1px solid #ffffff;
  border-radius: 10px;
  text-transform: uppercase;
  border-color: var(--cm-alpha-more); /*for gallery filters*/
}

.slick-dotted.slick-slider{
  margin-bottom:2rem;
}

/*Menu styles*/
 @media (min-width: 990px) { /*was 1200 */
  .navbar .container {
    padding-left:calc(var(--bs-gutter-x) * 0.5);
    padding-right:calc(var(--bs-gutter-x) * 0.5);
  }
  .top-nav {
    padding-top: 1.25rem;
    text-align: right;
  }
  .top-nav a {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.125rem;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #100c08;
    display: inline-flex;
    padding-right: 0.938rem;
  }
  .top-nav a.nav-link {
    padding: 0 1.875rem 0 0.938rem;
  }
  .top-nav a:hover {
    color: #9d9d9c;
  }
  .top-nav a:last-of-type {
    padding-right: 0;
  }
  .top-nav i {
    font-size: 1.375rem;
  }
  a.nav-link-sub {
    color: #fff;
  }

  .nav-scroll .dropdown-item,
  .nav-scroll a.nav-link-sub {
    color: #000;
  }
  .nav-scroll .navbar-nav .dropdown-menu {
    background-color: #fff;
  }
  .dropdown-menu .nav-item {
    padding-bottom: 0.313rem;
  }
  .navbar-nav .nav-item:hover a.nav-link,
  .navbar-nav a.nav-link:hover,
  .navbar-nav a.nav-link:focus,
  .nav-link-sub:hover {
    color: #c87660;
  }
  .navbar-nav .active.nav-item a,
  .navbar-nav .active.nav-item li.active a {
    text-decoration: underline;
    text-underline-offset: 0.5em;
  }
  .navbar-nav .active.nav-item li a {
    text-decoration: none;
  }
  .nav-scroll .navbar-nav .nav-item:hover a.nav-link,
  .nav-scroll .navbar-nav a.nav-link:hover,
  .nav-scroll .navbar-nav a.nav-link:focus,
  .nav-scroll .nav-link-sub:hover {
    color: #999999;
  }
  .container-full:hover .scroller_item:not(:hover) {
    opacity: 0.2;
    transition: all 0.5s;
  }
}
@media (min-width: 1270px) {
  #cw_menu_ham {
    display: none;
  }
}
/*End Menu styles*/
.slick-slider > div {
  display: none;
}
.slick-slider > div:first-child {
  display: block;
}
.slick-slider.slick-initialized > div {
  display: block;
}
footer {
  background-color: #100c08;
  color: #fff;
  padding-top: 3.438rem;
  padding-bottom: 2.188rem;
}
.footer-menu h2,
#popnewsletterSignup h2 {
  font-size: 1.5rem;
  line-height: 140%;
  color: #a69379;
  padding-bottom: 0.938rem;
}
.footer-menu h4 {
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: 0.15em;
  text-transform: capitalize;
  padding-bottom: 0.938;
  margin-bottom: 0;
  margin-top: 0.5rem;
}
.footer-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.875rem;
  line-height: 140%;
  letter-spacing: 0.04em;
}

footer {
  background-color: #ffffff;
  padding-top: 4rem;
  padding-bottom: 0;
  color: #245066;
}
footer a {
  text-decoration: none;
  color: #17515f;
}

.hero-slider .carousel-item img {
  max-height: 56.25rem;
  object-fit: cover;
  width: 100%;
  object-position: center;
}

.hero-slider .carousel-item::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.slider-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 25%;
  color: #ffffff;
  line-height: 150%;
}

.slider-content h1 {
  color: #fff;
  font-size: 5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 6.25rem;
  letter-spacing: 0.9rem;
  text-transform: uppercase;
}

.carousel-indicators [data-bs-target] {
  width: 0.938rem;
  height: 0.938rem;
  margin-right: 0.313rem;
  margin-left: 0.313rem;
  border-radius: 50%;
}

.carousel-indicators .active {
  opacity: 1;
}

header nav {
  border-bottom: 0.063rem solid rgba(2555, 255, 255, 0.7);
  padding: 1.25rem 0;
}

section {
  /* padding: 6rem 0 10rem; */
  /* margin-bottom:8rem; */
  position: relative;
  overflow: hidden;
}

section:not(.nav-section):not(.menu-section) {
  margin-bottom:8rem;
}

.menu-section {
  margin-bottom:4rem;
}

.column-wrapper-2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2.5rem;
  margin-bottom:5rem;
}
.column-wrapper-3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: var(--bs-gutter-x);
  margin-bottom:5rem;
}

@media screen and (max-width: 640px) { 
  .column-wrapper-2 {
    grid-template-columns: 1fr;
  }
  .column-wrapper-3{
    grid-template-columns: 1fr;
  }
}

.image-wrapper{
  margin-bottom:1rem;
  position: relative;
}

.overlay-text-wrapper{
  position: absolute;
  bottom: 0;
  color: #ffffff;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  width: 100%;
  font-size: 1rem;
}

.overlay-text-wrapper a{
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
}

.col-content li{
  line-height: 2.5rem;
}

.list-item img{
  width: 100%;
  object-fit: cover;
}

.col-content h3{
  margin-top:2.5rem;
}

.left-col .sl-gallery{
  text-align: right;
}

.image-wrapper img{
  width: 100%;
  object-fit: cover;
}

.image-wrapper.smaller img{
  max-width: 83%;
}

.list-item h4, .list-item h3{
  margin-top: 1rem;
  font-size: 1.25rem;
}


#main{
  margin-top: 4rem;
  padding: 6rem 0 0; /*needs this for tablet. others? */
}

section.hero-slider {
  padding: 0;
}

.block-wrapper a {
  text-decoration: none;
}

.block-wrapper {
  /* margin-bottom: 3rem; - but may need conditionalityy if multiple rows*/
    font-weight: 400;
    font-size: 1rem;
}

.block-wrapper img {
  width: 100%;
  /* max-height: 17.5rem; */
  object-fit: cover;
  margin-bottom: 0.625rem;
}

.fullwidth-overlay {
  min-height: 37.5rem;
  padding: 0;
  display: flex;
  align-items: stretch;
}

.flex-wrapper {
  display: flex;
  background: rgba(36, 80, 102, 0.8);
  align-items: center;
  justify-content: center;
}

.overlay-wrapper {
  max-width: 22rem;
  color: #fff;
}

.overlay-wrapper a {
  color: #fff;
}



.fullwidth-overlay .row {
  height: 100%;
}

.rel-post-item img {
  width: 100%;
  height: auto;
}

.related-gallery-list {
  margin-top: 2rem;
}


.rel-post-item a {
  display: inline-block;
  margin: 0 1rem;
}

.rel-post-item a {
  padding-bottom: 0.5rem;
  border-bottom: 2px solid transparent;
}

.rel-post-item:hover a {
  border-bottom: 2px solid var(--cm-color);
}

.footer-bottom {
  font-size: 0.875rem;
}

.footer-menu h4 {
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
}

footer {
  border-top: 1px solid var(--cm-color);
}

.footer-menu li {
  margin-bottom: 1rem;
}

.menu-footer-areas-container ul {
  column-count: 2;
}

.menu-useful-lunks-container {
  font-weight: 400;
}

.slider .slick-list,.thumbnail-slider .slick-list{
  padding: 0 !important;
}

.thumbnail-slider .slick-list{
  padding: 0 !important;
  margin:0 -10px;
}

.image-thumbnail-wrapper{
  margin:0 10px;
}

form input[type="text"],form input[type="email"],form input[type="tel"], textarea{
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  border-radius: 0%;
}

form input[type="submit"]{
  color: var(--cm-color);
  border-color: var(--cm-color);
  background-color: transparent;
}

.form-group .wpcf7-form-control-wrap:last-child{
  margin-bottom: 4.5rem;
  display: block;
}


form h2{
  margin-bottom: 3.5rem;
}

.show-mobile{
  display: none;
}
@media (max-width: 1199px) {
  .navbar-expand-xl > .container,
  .navbar-expand-xl > .container-fluid {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  .offices-details ul {
    padding: 0;
  }
  .related-gallery-list .slick-prev {
    left: 4rem;
  }
  .related-gallery-list .slick-next {
    right: 4rem;
  }
  .fullwidth-testimonial-section blockquote p{
    font-size: 2rem;
  }
  .fullwidth-testimonial-section {
      min-height: 30rem;
  }  
}

@media (max-width:1200px) {

  .navbar-brand svg{
    max-width: 14rem;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

@media (max-width: 992px) {
  .reverse {
    height: 100%;
    flex-direction: column-reverse;
  }
  .slider-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 35%;
    color: #ffffff;
  }

  .header-wrapper {
    margin-top: 4.375rem;
  }

  .gallery-list {
    margin-top: 3rem;
  }

  .rel-post-item a {
    margin: 0 0.5rem;
  }

  section {
    /* padding: 4rem 0 4rem; */
    padding:0;
    margin-bottom:4rem;
}
section:not(.nav-section):not(.menu-section) {
  margin-bottom: 4rem;
}

.slider-content h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.3rem;
}

section.hero-slider {
  padding: 0;
  margin-top: 101px;
}





.pricing-section.dropdown-menu{
  column-count: 1;
  left: 2rem!important;
  border-radius: 40px;
  border: 1px solid #D9D9D9;
  background: #FFF;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.10);
  overflow: hidden;
}

.show-mobile{
  display: block;
}

.show-desktop{
  display: none;
}

}

.xdebug-error {
  font-weight:normal;
  text-transform:none;
  line-height:1.5;
  letter-spacing: normal;
}