/*Common Styles*/
h1,h2,h3,h4,h5 {
    color: var(--cm-color);
    font-style: normal;  
    font-weight: 500;
  }
  h1 {
    font-size: 2.5rem;
    line-height: 1.2;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
  }
  h2 {
    /* font-size: 4.625rem; */
    line-height: 1.3;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }
  h3 {
    font-size: 1.4rem;
      line-height: 1.3;
      letter-spacing: 0.2rem;
      text-transform: uppercase;
  }
  h4 {
    line-height: 105%;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }
  h5 {
    font-size: 2rem;
    line-height: 116%;
    margin-bottom: 1.25rem;
  }
  h6 {
    font-size: 1.375rem;
    line-height: 118%;
  }
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    text-decoration: none;
  }
  /*mob*/
@media screen and (max-width: 640px) { 
h1 {
  font-size: 1.5rem;
  text-align: center;
}
.single h1 {
  text-align:left;
}
}