

/* Menu section styles */
.menu-wrapper{
  list-style: none;
  padding: 0;
  display: flex;
  margin-bottom:0;
  align-items: flex-start;
}

.menu-wrapper li{
  margin-right: 1.5rem;
  line-height: 1;
}

.menu-wrapper a {
  color: var(--cm-color);
  font-size: 0.8rem;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  /*display: inline-block;*/
  border-bottom: 1px solid transparent;
  letter-spacing:0.2rem;
  line-height: 1.5;

}

.menu-wrapper .large-item a {
  font-size: 1.5rem;
}

.menu-wrapper .active a, .menu-wrapper a:hover  {
  border-bottom:1px solid var(--cm-color);
}


.navbar-brand {
  z-index: 1030;
  padding: 0;
  margin: 0;
}


.navbar-light {
  padding: 1.25rem 0;
  background-color: transparent;
  z-index: 9999;
}
.navbar-light.nav-trn {
  background-color: transparent;
}

.navbar-light.nav-scroll {
  background: rgb(255, 255, 255);
  box-shadow: 0.25rem 0.25rem 1.875rem rgba(133, 133, 133, 0.2);
}

body:not(.home) .navbar-light {
  background: rgb(255, 255, 255);
  border-bottom: 1px solid var(--cm-color);
}

body:not(.home) .navbar-light .navbar-brand svg path {
  fill: var(--cm-color);
}

body:not(.home) .navbar-nav a {
  color: var(--cm-color);
}

.search-results .navbar-light,
.error404 .navbar-light {
  background: #fff !important;
}
.navbar-nav a {
  /*font-size: 1rem;  */
   font-size: 1.2rem;
  line-height: 1.2;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.navbar-expand-xl .navbar-nav .nav-link {
  padding-left: 0.938rem;
  padding-right: 0.938rem;
}
.nav-scroll .navbar-nav a {
  color: var(--cm-color);
}
.dropdown-toggle:after {
  display: none;
}

.navigation {
  margin-bottom: 5rem;
}

@media (max-width: 991px) {
    .navbar-collapse.show {
        height:100vh;
        transition:none;
        padding-top: 2rem;
    }
    #menu-top-menu .dropdown a.dropdown-toggle {
        background-image: url(/wp-content/themes/countymarquees/images/svg/arrow.svg);
        padding-right: 60vw;
        background-repeat: no-repeat;
        background-position: left center;
    }

    #menu-top-menu .dropdown {
        margin-bottom:0;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 55vw;
        padding-left: 1.5rem;
    }
    li.nav-item {
      border-top: 1px solid #ccc;
      padding: 0.5rem 0;
  }
  .navbar-nav li:last-child {
    border-bottom: 1px solid #ccc;
}
    .menu-section {
        /*display:none;*/
    }
    .navigation {
        margin-bottom: 0;
      }
    .single-photos .navigation {
        margin-bottom:4rem;
      }
    .home .navbar-brand svg path{
        fill: var(--cm-color);
      }
      .navbar-brand svg {
        max-width: 100%;
        width: 100%;
    }      
      .navbar-brand{
        order: 5;
        flex: 0 0 100%;
      }
      
      .top-contact-wrapper{
        order:4;
        z-index: 1000;
      }
      /*div.container > .top-contact-wrapper + div.navt .show { order:1; }*/

      .navt {
        order:5;
      }

      .navt:has(.show) {
        order:6;
        background-color: #fff;
        height:100vh;
      }
      
      .navbar-light{
        padding: 1rem 0;
      }
      
      .navbar .container{
        flex-direction: row-reverse;
        align-items: start;
        justify-content: flex-end; /*which aligns left, weirdly*/
      }
      
      .navbar-toggler{
        padding-left:0;
        padding-right:0;
      }
      
      .collapse:not(.show) {
        display: none;
      }
      
      .home .navbar-light{
        background: rgb(255, 255, 255);
        box-shadow: 0.25rem 0.25rem 1.875rem rgba(133, 133, 133, 0.2);
      }
      
      .home .navbar-nav a{
        color: var(--cm-color);
      }
      
      .navbar-toggler:focus{
        box-shadow: none!important;
      }

      .menu-wrapper{
        flex-wrap: wrap;
        justify-content: center;
        
          }
          .menu-wrapper li {
            margin:0 1rem;
            display: inline-block;
            line-height: 1.5;           
        }
        .menu-wrapper .large-item a {
          font-size: 1.2rem;
        }
}  