/* TESTIMONIALS */


.fullwidth-testimonial-section{
    min-height: 25rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.fullwidth-testimonial-section img{
    width: 100%;
    height: auto;
    object-fit: cover;
    height: 25rem;
  }

  @media (min-width: 1204px) { 
    .fullwidth-testimonial-section{
      min-height: 35rem;
    }
    .fullwidth-testimonial-section img{
      height: 35rem;
    }
  }
  
  .testimonial-wrapper{
    font-family: "gill-sans-nova", sans-serif;
    position: absolute;
    width: 60%;
    top: 50%;
    z-index: 2;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    text-align: center;
   
  }
  .fullwidth-testimonial-section p{
    font-size: 1.5rem;
    font-weight: 500; 
    color: #FFF;
  }
  .fullwidth-testimonial-section blockquote p{
    font-size: 2.5rem;
    font-style: italic;
    font-weight: 500;
    line-height: normal; 
    color: #FFF;
  }
  blockquote p::before {
    content: open-quote;
  }
  blockquote p::after {
    content: close-quote;
  }
  blockquote {
    quotes: "“" "”" "‘" "’";
  }
  .testimonial-wrapper a{
    display: inline-block;
    margin-top:2rem;
  }
  
  .fullwidth-testimonial-section::before{
    position: absolute;
    content: '';
    background: rgba(0, 0, 0, 0.1);
    z-index: 1;
    left: 0;
    right: 0;
    top:0;
    bottom:0;
  }


  /* TEXT TESTIMONIALS */
  /* TODO MAY NEED ALTERING FOR testimonials page */
  .testimonials .hreview .locality:after {
    content: ", ";
}

  /* Top banner Section */

  /* .hd {
      width: 100%;
      overflow: hidden;
      position: relative;
  }

  .vcontent {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.vimeo-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
  overflow: hidden;
}

.vimeo-wrapper iframe {
  width: 100vw;
  height: 56.25vw;
  min-height: 100vh;
  min-width: 125.77vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
} */


.vimeo-wrapper {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.vimeo-wrapper iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
}

@media (min-aspect-ratio: 16/9) {
  .vimeo-wrapper iframe {
    /* height = 100 * (9 / 16) = 56.25 */
    /* height: 56.25vw; This keep a fine line of the left of the video so i have made it 56.3 */
    height: 56.3vw;
  }
}
@media (max-aspect-ratio: 16/9) {
  .vimeo-wrapper iframe {
    /* width = 100 / (9 / 16) = 177.777777 */
    width: 177.78vh;
  }
}

    /* Top banner Section */

    .banner-overlay{
          position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff;
    z-index: 1;
    }


    /* Search form css */

    .filter-search form {
      max-width: 100%;
      position: relative;
      margin-bottom: 50px;
    }

    .hdsearch{
      position: relative;
      /*position: fixed;
    background-color: var(--cm-color);
    left: 0;
    right: 0;
    top:0;
    height: 33.33vh;
    opacity: .6;*/
    }

    /*.sbtn-search {
      border: none;
      height: 1.5rem;
      width: 1.5rem;
      padding: 0;
      position: absolute;
      right: 0.5rem;
      outline: none;
      background-color: transparent;
      bottom: 0.7rem;      
      color:var(--cm-color);
    }*/

    .s-btn {
      border: none;
      height: 1.5rem;
      width: 1.5rem;
      padding: 0;
      position: absolute;
      right: 0.5rem;
      outline: none;
      background-color: transparent;
      bottom: 0.7rem;
      color:var(--cm-color);
    }

@media (max-width: 992px) {
      .hdsearch {      
        order: 3;
        margin-left: auto;
        bottom:unset;
    }
    input[type="text"].s-control {
      display:none;
    }
    .s-btn {
      bottom:unset;
      /*color:var(--cm-color);*/
    }
  }


    .filter-search .search-text {
    background-color: transparent;
    border: none;
    border-radius: 0px;
    width: 100%;
    padding-bottom: 0.625rem;
    border-bottom: 1px solid #100C08;
    font-size: 1.5rem;
    line-height: 1.875rem;
    outline: none;

    }
    .search-list .post-content{
    padding-left: 0;
    max-width: unset;
    word-wrap: break-word;
    }

.search-list h4{
  letter-spacing: unset;
  text-transform: capitalize;
}

.search-list a{
  text-decoration: none;
}

.search-list .read-more{
  text-decoration: underline;
}



@media (max-width: 992px) {
  .testimonial-wrapper {
    width:80%;
  }
  .fullwidth-testimonial-section blockquote p {
    font-size:2rem;
  }
  section.fullwidth-content {
    padding: 1rem;
    border: 1px solid var(--cm-color);
    border-radius: 1rem;
    margin: 0 1rem 4rem;
  }
}
iframe {
  border: 0;
  width:100%;
}
  