.extras {
    display: flex;
    justify-content: flex-start;
}
.extras p{
    padding-right:2rem;
}
.page-template-page-sites .list-item {
    display:flex;
    flex-direction: column;
    padding: calc(var(--bs-gutter-x));
    border-radius: 1rem;
    background-color: var(--cm-alpha-more);
}
.page-template-page-sites h3 {
    font-size: 1rem;
    letter-spacing: 0.2em;
    font-weight: 600;
}
p.first {
    flex-grow: 1;;
}
.list-item a {
    color: var(--cm-color);
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.2em;
    text-decoration: 0;
}
.page-template-page-sites p {
    font-size: 1rem;
}
p.civil.no {
    background-image: url( '/wp-content/themes/countymarquees/images/svg/cross.svg' );
    background-repeat: no-repeat;
    background-position: 77px 6px;
 }
 p.civil {
    background-image: url( '/wp-content/themes/countymarquees/images/svg/tick.svg' );
    background-repeat: no-repeat;
    background-position: 77px 6px;
 }