
.page-template-page-pricing .col-lg-2 {
    display: flex;
    align-items: flex-end;
    justify-content: end;
}
.page-template-page-pricing .col-lg-4 {
    display: flex;
    align-items: flex-end;
    justify-content: end;
}
/* TODO: LOCALISE ABOVE TWO RULES */
caption {
    text-align: left;
color: var(--cm-color);
font-weight: 400;
letter-spacing: 0.3rem;
font-size: 1.5rem;
padding-bottom: 1.5rem;
}
table {
    border-collapse:separate;
    caption-side: top;
    width: 100%;
    border-radius: 1.25rem;
    padding: calc(var(--bs-gutter-x));
    background-color: #fff;
    color: var(--cm-color);
    /* border: 1px solid var(--cm-alpha-color); */
    background-color: var(--cm-alpha-more);
    margin-top: 4rem;
}
.page-id-140 table {
    border: 1px solid var(--cm-alpha-color);
    background-color: #fff;;
}
.page-id-144 table {
   /* background-color: var(--cm-hue); */
   background-color: var(--cm-color); 
   color:#fff;
}
th.top {
    text-transform:uppercase;    
    letter-spacing: 0.2rem;
}
th {
    text-align: inherit;
    text-align: -webkit-match-parent;
    font-weight: 600;
    font-size: 1rem;
    padding-bottom: 1rem;
}
th.size {
    width:15%;
}

td {
    font-size: 1rem;
}
.page-template-page-pricing td {
    width:10%;
}
td.marquee_total {
    font-weight: 600;
}
th.furnLeft1 ,th.furnLeft0,th.furnRight1 ,th.furnRight0,td.furnLeft1,td.furnLeft0,td.furnRight1,td.furnRight0  {
    border-bottom: 1px solid var(--cm-alpha-more);    
    padding:1rem;
    font-weight:400;
}

td.furnLeft1,td.furnLeft0,td.furnRight1,td.furnRight0 {
    width: 20%;
}

table tr:last-child th, table tr:last-child td{
    border:0; /* for furniture etc */
}
/*mob*/
@media screen and (max-width: 640px) { 

    table {   
        /* table-layout: fixed; */
        padding: calc(var(--bs-gutter-x) * 0.5);
    }
    table tr th:nth-child(3),table tr td:nth-child(5),table tr th:nth-child(4),table tr th.awkward,table tr td:nth-child(4),table tr td:nth-child(6),table tr td:nth-child(7)  {
        display: none;
        width:0;
        /* border-collapse:collapse; */
        /* visibility: collapse; */
    }
    .awkward {
        display:none;
    }
    th, td.marquee_total {
        font-weight:500;
    }
    th.furnLeft1 ,th.furnLeft0,th.furnRight1 ,th.furnRight0,td.furnLeft1,td.furnLeft0,td.furnRight1,td.furnRight0  {
        border-bottom: none;    
        padding:0.5rem;
    }
    table tr th.awkward2 {
        display:table-cell;
    }
    th.size {
        width: 20%;
    }
    th.top {
        letter-spacing: 0.1em;;
    }
    caption {
        font-weight: 500;
        letter-spacing: 0.2rem;
        font-size: 1.3rem;
        padding-bottom:1rem;
        padding-left: calc(var(--bs-gutter-x) * 0.5);
    }
}