.col-content {
    margin-top:1rem;
}
.col-content a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9rem;
    letter-spacing: 0.2rem;
    background-image: url( '/wp-content/themes/countymarquees/images/svg/arrow.svg' );
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 2rem;
    background-size: 1rem;
}
.col-content ul {
    margin-bottom:2rem;
}
.content-wrapper p{
    max-width: 50%;
    margin-bottom:0;
  }
  @media screen and (max-width: 640px) { 
    .content-wrapper p{
        max-width: 100%;
      }
  }