#side_bar {
    height: 720px;
    overflow: auto;
}
#side_bar a{
    font-size: 0.9rem;
    text-decoration: none;
    font-weight: 400;
}
#side_bar div {
    border-bottom: 1px solid var(--cm-alpha-color);
    padding: 0.4rem 0;
}

/*mob*/
.page-template-page-venue table{
    background-color: var(--cm-alpha-more);
}

@media screen and (max-width: 640px) { 
#side_bar{
    display:none;
}
}