@charset "UTF-8";
/* CSS Document */

:root{
  --cm-color: #255167;
}

html,
body {
  color: var(--cm-color);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}
body {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 136%;
  color: var(--cm-color);
  font-family: "gill-sans-nova", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
/*Common Styles*/
h1 {
  font-style: normal;
  font-weight: 500;
  /* font-size: 7.5rem; */
  font-size: 2rem;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
h2 {
  font-style: normal;
  font-weight: 500;
  /* font-size: 4.625rem; */
  line-height: 95%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 3.875rem;
  line-height: 97%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 105%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 116%;
  margin-bottom: 1.25rem;
}
h6 {
  font-style: normal;
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 118%;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none;
}
strong {
  font-weight: 500;
}
.container-full {
  width: 100%;
  overflow: hidden;
}
.container {
  width: 100%;
  max-width: 80rem;
}
a {
  color: #100c08;
}
a:focus,
button:focus,
input:focus,
textarea:focus,
div:focus {
  outline: none !important;
}
a:hover,
.wrapper a:hover {
  transition: all 0.5s ease 0s;
  color: #9d9d9c;
}

img {
  max-width: 100%;
  height: auto;
}

.navbar-brand {
  z-index: 1030;
  padding: 0;
  margin: 0;
}
.navbar .container {
  position: relative;
}

.navbar-light {
  padding: 1.25rem 0;
  background-color: transparent;
  z-index: 9999;
}
.navbar-light.nav-trn {
  background-color: transparent;
}

.navbar-light.nav-scroll {
  background: rgb(255, 255, 255);
  box-shadow: 0.25rem 0.25rem 1.875rem rgba(133, 133, 133, 0.2);
}

body:not(.home) .navbar-light {
  background: rgb(255, 255, 255);
  border-bottom: 1px solid #000;
}

body:not(.home) .navbar-light .navbar-brand svg path {
  fill: var(--cm-color);
}

body:not(.home) .navbar-nav a {
  color: var(--cm-color);
}

.search-results .navbar-light,
.error404 .navbar-light {
  background: #fff !important;
}
.navbar-nav a {
  /*font-size: 1rem;  */
  font-size: 1.125rem;
  line-height: 125%;
  color: #fff;
  text-decoration: none;
}
.navbar-expand-xl .navbar-nav .nav-link {
  padding-left: 0.938rem;
  padding-right: 0.938rem;
}
.nav-scroll .navbar-nav a {
  color: var(--cm-color);
}
.dropdown-toggle:after {
  display: none;
}

.navigation {
  margin: 5rem 0;
}

.footer-bottom-menu {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  gap: 0.938rem;
}

.footer-bottom {
  padding: 3.125rem 0 1.875rem;
  border-top: 1px solid rgba(37,81,103,0.2);
  margin-top: 3.125rem;
  font-weight: 400;
}

.footer-bottom * {
  text-decoration: underline;
}

.nav-scroll .navbar-brand svg path {
  fill: var(--cm-color);
}

.header-wrapper {
  margin-top: 10rem;
  align-items: flex-end;
  justify-content: space-between;
}

.dropdown {
  float: right;
  margin-bottom: 1rem;
}

.dropdown-menu {
  column-count: 2;
  background: #ffffff;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.post-item a {
  text-decoration: none;
  color: var(--cm-color);
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: i;
}

.post-text {
  padding-top: 1rem;
}

.post-content {
  max-width: 80%;
  margin-top: 2rem;
  padding-left: 1.5rem;
}

.post-content .btn {
  margin-top: 2.5rem;
}

.gallery-list {
  margin-top: 5rem;
}

.post-item {
  margin-bottom: 3rem;
}

.dropdown a,
.btn-class.dark {
  background: #ffffff;
  color: var(--cm-color);
  border-color: var(--cm-color);
}

.post-media-wrapper .carousel-control-prev,
.post-media-wrapper .carousel-control-next {
  position: absolute;
  top: auto;
  bottom: 1rem;
  height: 4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  color: #fff;
  text-align: center;
  background: none;
  border: 0;
  opacity: 1;
  transition: opacity 0.15s ease;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.post-media-wrapper .carousel-control-prev {
  left: unset;
  right: 6rem;
}

.post-media-wrapper .carousel-control-next {
  right: 1rem;
}

.post-media-wrapper .post-item-img {
  position: relative;
}

.post-item-img img{
  width: 100%;
  height: auto;
}



.slick-list{padding:0 5% 0 5% !important;}

.navigation a {
  border-bottom: 1px solid;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.138rem;
}

.related-gallery-list .slick-prev,
.related-gallery-list .slick-next {
  width: 65px;
  height: 65px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  z-index: 9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.related-gallery-list .slick-prev {
  left: 3.125rem;
}

.related-gallery-list .slick-next {
  right: 3.125rem;
}

.related-gallery-list .slick-prev::before,
.related-gallery-list .slick-next::before {
  display: none;
}

.related-gallery-list{
  position: relative;
}
.related-gallery-list::before,
.related-gallery-list::after {
  content: '';
  position: absolute;
  top: 0;
  width: 5%; /* Adjust the width for the visible area */
  height: 100%;
  z-index: 1;
}

.related-gallery-list::after {
  right: 0;
  left: auto;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.2), white); /* Adjust the colors and transparency as needed */
}

.related-gallery-list::before {
  left: 0;
  right: auto;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.2), white); /* Adjust the colors and transparency as needed */
}

.btn-class{
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  padding: 0.375rem 0.75rem;
}


/*Menu styles*/
@media (min-width: 1200px) {
  .top-nav {
    padding-top: 1.25rem;
    text-align: right;
  }
  .top-nav a {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.125rem;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #100c08;
    display: inline-flex;
    padding-right: 0.938rem;
  }
  .top-nav a.nav-link {
    padding: 0 1.875rem 0 0.938rem;
  }
  .top-nav a:hover {
    color: #9d9d9c;
  }
  .top-nav a:last-of-type {
    padding-right: 0;
  }
  .top-nav i {
    font-size: 1.375rem;
  }
  a.nav-link-sub {
    color: #fff;
  }

  .nav-scroll .dropdown-item,
  .nav-scroll a.nav-link-sub {
    color: #000;
  }
  .nav-scroll .navbar-nav .dropdown-menu {
    background-color: #fff;
  }
  .dropdown-menu .nav-item {
    padding-bottom: 0.313rem;
  }
  .navbar-nav .nav-item:hover a.nav-link,
  .navbar-nav a.nav-link:hover,
  .navbar-nav a.nav-link:focus,
  .nav-link-sub:hover {
    color: #e6e2c7;
  }
  .navbar-nav .active.nav-item a,
  .navbar-nav .active.nav-item li.active a {
    text-decoration: underline;
    text-underline-offset: 0.5em;
  }
  .navbar-nav .active.nav-item li a {
    text-decoration: none;
  }
  .nav-scroll .navbar-nav .nav-item:hover a.nav-link,
  .nav-scroll .navbar-nav a.nav-link:hover,
  .nav-scroll .navbar-nav a.nav-link:focus,
  .nav-scroll .nav-link-sub:hover {
    color: #999999;
  }
  .container-full:hover .scroller_item:not(:hover) {
    opacity: 0.2;
    transition: all 0.5s;
  }
}
@media (min-width: 1270px) {
  #cw_menu_ham {
    display: none;
  }
}
/*End Menu styles*/
.slick-slider > div {
  display: none;
}
.slick-slider > div:first-child {
  display: block;
}
.slick-slider.slick-initialized > div {
  display: block;
}
footer {
  background-color: #100c08;
  color: #fff;
  padding-top: 3.438rem;
  padding-bottom: 2.188rem;
}
.footer-menu h2,
#popnewsletterSignup h2 {
  font-size: 1.5rem;
  line-height: 140%;
  color: #a69379;
  padding-bottom: 0.938rem;
}
.footer-menu h4 {
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: 0.15em;
  text-transform: capitalize;
  padding-bottom: 0.938;
  margin-bottom: 0;
  margin-top: 0.5rem;
}
.footer-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.875rem;
  line-height: 140%;
  letter-spacing: 0.04em;
}

footer {
  background-color: #ffffff;
  padding-top: 3.75rem;
  padding-bottom: 0;
  color: #245066;
}
footer a {
  text-decoration: none;
  color: #17515f;
}

.hero-slider .carousel-item img {
  max-height: 56.25rem;
  object-fit: cover;
  width: 100%;
  object-position: center;
}

.hero-slider .carousel-item::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.slider-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 25%;
  color: #ffffff;
  line-height: 150%;
}

.slider-content h1 {
  line-height: 3rem;
  color: #fff;
  font-size: 5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 6.25rem;
  letter-spacing: 0.9rem;
  text-transform: uppercase;
}

.carousel-indicators [data-bs-target] {
  width: 0.938rem;
  height: 0.938rem;
  margin-right: 0.313rem;
  margin-left: 0.313rem;
  border-radius: 50%;
}

.carousel-indicators .active {
  opacity: 1;
}

header nav {
  border-bottom: 0.063rem solid rgba(2555, 255, 255, 0.7);
  padding: 1.25rem 0;
}

section {
  padding: 5rem 0 11.25rem;
}

section.hero-slider {
  padding: 0;
}

.block-wrapper a {
  text-decoration: none;
}

.block-wrapper {
  text-transform: uppercase;
}

.block-wrapper img {
  width: 100%;
  max-height: 15.625rem;
  object-fit: cover;
  margin-bottom: 0.625rem;
}

.fullwidth-overlay {
  min-height: 37.5rem;
  padding: 0;
  display: flex;
  align-items: stretch;
}

.flex-wrapper {
  display: flex;
  background: rgba(36, 80, 102, 0.8);
  align-items: center;
  justify-content: center;
}

.overlay-wrapper {
  max-width: 22rem;
  color: #fff;
}

.overlay-wrapper a {
  color: #fff;
}

.btn-class {
  color: #fff;
  border: 1px solid #ffffff;
  border-radius: 1.25rem;
  text-transform: uppercase;
}

.fullwidth-overlay .row {
  height: 100%;
}

.rel-post-item img {
  width: 100%;
  height: auto;
}

.related-gallery-list {
  margin-top: 2.5rem;
}


.rel-post-item a {
  display: inline-block;
  margin: 0 1rem;
}

.rel-post-item a {
  padding-bottom: 0.5rem;
  border-bottom: 2px solid transparent;
}

.rel-post-item:hover a {
  border-bottom: 2px solid var(--cm-color);
}

.footer-bottom {
  font-size: 0.875rem;
}

.footer-menu h4 {
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
}

footer {
  border-top: 1px solid var(--cm-color);
}

.footer-menu li {
  margin-bottom: 1rem;
}

.menu-footer-areas-container ul {
  column-count: 2;
}

.menu-useful-lunks-container {
  font-weight: 400;
}


@media (max-width: 1199px) {
  .navbar-expand-xl > .container,
  .navbar-expand-xl > .container-fluid {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  .offices-details ul {
    padding: 0;
  }
}

@media (max-width: 992px) {
  .slider-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 35%;
    color: #ffffff;
  }

  .navbar-nav {
    display: none;
  }

  .header-wrapper {
    margin-top: 4.375rem;
  }

  .gallery-list {
    margin-top: 3rem;
  }

  .rel-post-item a {
    margin: 0 0.5rem;
  }

  section {
    padding: 4rem 0 4rem;
}
}
