footer{
	font-size:13px;
}
.search-trigger {
    position: absolute;
    right: 10px;
    top: 0;
    cursor: pointer;
    z-index: 200;
}
.hometel, .copyright,.social,.developertext{
	margin-bottom:15px;
}

.contact-section{
	text-align:right;
}

#footer-area li{
  float: left;
  width: 50%;
  list-style: disc;
}

#footer-area:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 767px){
.contact-section{
	text-align:left;
}	
}


@media screen and (max-width: 767px) and (orientation:landscape) {
#footer-area li {
	float:none;
}		

	
}